@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&family=Montserrat:wght@400;700&family=Ubuntu:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root {
    --text-color: #fff;
    --input-box-color: hsl(268, 75%, 9%);
    --shadow: hsl(314, 89%, 26%);
    --indicator-grey: #C5C5C5;
    --vb-cyan: hsl(177, 92%, 70%);
}

html {
    height: 100vh;
    width: 100vw;

    overflow: hidden;
}

body {
    background-image: palevioletred;
    background-image: linear-gradient(45deg, #fffffc 0%, #e2e1cf 11%, #d7c8a0 22%, #ceb162 33%, #c39151 44%, #a35f17 56%, #ce6b14 71%, #724905 85%, #724905 96%, #613304 100%);
    
    display: flex;
    align-items: center;
    justify-content: center;

    font-family: 'League Spartan', sans-serif;
}

.container {
    height: 80vh;
    width: 90%;
    max-width: 450px;
}

.header-text {
    margin: 10px 0px;
    
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase;
    color: var(--text-color);
    line-height: 1.2;
}

.password-copy-section {
    height: 3rem;
    width: 100%;

    position: relative;
    
    background-color: var(--input-box-color);

    border-radius: 10px;
    border-bottom: 0.35rem solid var(--shadow);
    margin: 15px 0;
}

.slider, .password-textbox, .copy-password-btn {
    border:none;
    outline:none;
}

.password-textbox, .copy-password-btn {
    height: 100%;
    position: relative;
}

.password-textbox {
    width: 75%;
    float: left;

    border-radius: 10px 0 0 10px;
    background-color: transparent;
    color: var(--text-color);

    font-weight: 700;
    font-size: large;
    letter-spacing: 1px;

    left: 20px;
}

.password-textbox::placeholder{
    font-weight: 700;
    font-size: large;
    text-transform: uppercase;
    letter-spacing: 1px;

    position: absolute;
    top: 30%;
    left: 30px;
}   

.copy-password-btn {
    width: 3rem;
    float: right;
    
    font-size: large;
    border-radius: 0 10px 10px 0;

    color: var(--text-color);
    background: transparent;
    transition: font-size .3s ease-in-out;
    transition-delay: 0.01s;
}

.copy-password-btn:hover {
    font-size: x-large;
}

.copy-msg {
    height: 1.5rem;
    width: 6.2rem ;
    color: var(--shadow);
    background-color: var(--vb-cyan);

    position: absolute;
    display: inline-block;

    opacity: 0;   
    transform: translateX(2rem) translateY(-1.2rem);
    transform-origin: bottom;
    transition-delay: 0.1s;
    transition: opacity 0.2s ease-in-out;

    border-radius: 1rem;
    text-align: center;
    font-size: 1rem;
    font-weight: 600;
    padding: 0.1785rem 0 0 0;
}

.copy-active {
    opacity: 1;
}

@media (max-width: 450px) {
    .copy-password-btn {
        margin-right: 8px;
    }
    .copy-password-btn:hover {
        font-size: x-large;
    }
    .copy-msg {
        opacity: 0;
        transform: translateX(-5px) translateY(-1rem);
        transition: opacity 0.2s ease-in-out;
    }
    .copy-active {
        opacity: 1;
    }
}

.password-main-creator {
    background-color: var(--input-box-color);
    color: var(--text-color);
    border-radius: 10px;

    user-select: none;
}

.password-length {
    height: 2rem;
    width: 100%;
}

.password-length-txt, .password-length-num {
    position: relative;
    margin: 0.5rem 1.2rem 1.5rem 1.2rem;

    font-size: 1.5rem;
    letter-spacing: 0.5px;
}

.password-length-txt {
    float: left;
}

.password-length-num {
    float: right;
}

.slider{
    width: 80%;
    height: 0.75rem;

    appearance: none;

    display: flex;
    margin: 0 auto;
    
    cursor: pointer;
    border-radius: 16px;
}

.slider::-webkit-slider-thumb {
    height: 32px;
    width: 32px;
    
    z-index: 1;
    appearance: none;
    
    border-radius: 50%;
    
    cursor: pointer;
    margin-top: -3px;

    background-color: rgba(255, 229, 61, 1);
    box-shadow: 0px 0px 20px 0px rgba(255, 229, 61, 0.50);
    transition: all 0.1s ease-in;
}

.slider::-webkit-slider-thumb:hover{
    outline: 2px solid rgba(255, 229, 61, 0.80);
    background-color: var(--input-box-color);
    box-shadow: 0px 0px 25px 5px rgba(255, 229, 61, 0.80);
}

.check-boxes {
    display: flex;
    flex-direction: column !important;
    margin: 1rem 0.5rem;    
}

.checkbox {
    margin: 1rem 20px;
    height: 1rem;
    width: 100%;
}

.checkbox input{
    appearance: none;
    height: 1.2rem;
    width: 1.2rem;

    margin-right: 1.5rem;
    outline: 2px solid rgba(255, 229, 61, 0.80);
    
    border-radius: 6px;
}

.checkbox input:checked {
    background-color: rgba(255, 229, 61, 0.80);
}

.checkbox input:checked::before {
    content: '✔';
    position: relative;
    color: var(--text-color);
    font-size:1.05rem;
    font-weight: 600;
    left:20%;
    top:-3px;
}

.checkbox label {
    color: var(--text-color);
    font-size: 1.25rem;
    letter-spacing: 0.75px;

    position: absolute;
    margin-bottom: 10px;
}

@media (max-width: 450px) {

    .checkbox label {
        color: var(--text-color);
        font-size: 1.1rem;
        letter-spacing: 0.75px;
        
        position: absolute;
    }
}

.strength-display {
    height: 2rem;
    width: 100%;
    margin: 1.5rem 0 2rem 0;
}

.strength-txt, .strength-num {
    position: relative;
    margin: 0.5rem 1.2rem 1.5rem 1.2rem;

    font-size: 1.5rem;
    letter-spacing: 0.5px;
}

.strength-txt {
    float: left;
}

.strength-num {
    float: right;
    background-color: var(--indicator-grey);

    height: 1.5rem;
    width: 1.5rem;
    border-radius: 50%;
}

.submit-btn-section {
    display: flex;
    position: relative;
}

.submit-btn {
    appearance: none;
    height: 3rem;
    width: 80%;

    margin: 1rem auto 1rem auto;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    font-size: x-large;
    font-weight: bolder;
    
    border-radius: 1rem;
    border-bottom: 0.35rem solid var(--shadow);
    cursor: pointer;

    font-family: 'Ubuntu', sans-serif;
    color: var(--input-box-color);
    
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition:all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.submit-btn:hover {
    font-size: 26px;
}

.submit-btn .question-mark {
    font-size: 1.2rem;

    position: relative;
    top: -3px;

    background: var(--input-box-color);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
    display: none;
    transition: all 1s ease-in-out;
}

.question-active {
    display: inline;
}

